[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LSX"]
	path = LSX
	url = https://github.com/koheiw/lsx
[submodule "newsmap"]
	path = newsmap
	url = https://github.com/koheiw/newsmap
[submodule "proxyC"]
	path = proxyC
	url = https://github.com/koheiw/proxyc
[submodule "seededlda"]
	path = seededlda
	url = https://github.com/koheiw/seededlda
[submodule "wordmap"]
	path = wordmap
	url = https://github.com/koheiw/wordmap
