[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "newsmap"]
	path = newsmap
	url = https://github.com/koheiw/newsmap
	shallow = true
	registered = true
[submodule "proxyC"]
	path = proxyC
	url = https://github.com/koheiw/proxyc
	shallow = true
	registered = true
[submodule "seededlda"]
	path = seededlda
	url = https://github.com/koheiw/seededlda
	shallow = true
	registered = true
